    <!-- Page Content -->
    <div class="container">
        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">  <%= @event.title %>

                    <hr>
                </h1>
            </div>
        </div>
        <!-- /.row -->

                <h3>Description: <h5><%= @event.description %></h5></h3>
                
                <h3>Start time: <h5><%= @event.start_time %></h5></h3>
                
                <h3>End time: <h5><%= @event.end_time %></h5></h3>
                
            </div>
<br>
<% if current_user.admin %>  
<%= link_to 'Edit', edit_event_path(@event) %>
<% end %>