<% @pitch = Pitch.new %>
<%= form_for @pitch do |f| %>
 
  <% if @pitch.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@pitch.errors.count, "error") %> prohibited
        this Pitch from being saved:
      </h2>
      <ul>
        <% @pitch.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h5>
    <%= f.label :title %><br>
    <%= f.text_field :title, :style => "width:500px;"%>
  </h5>

  <h5>
    <%= f.label :email %><br>
    <%= f.collection_select :email, User.all, :email, :email, include_blank: false%>
  </h5>

  <h5>
    <%= f.label :brief_description %><br>
    <%= f.text_area :brief_description, :style => "width:500px;height:50px;" %>
  </h5>


  <h5>
    <%= f.label :full_description %><br>
    <%= f.text_area :full_description, :style => "width:500px;height:180px;" %>
  </h5>
 


  <h5>
    <%= f.submit %>
  </h5>
 
<% end %>