<!-- Page Content -->
<div class="container">

    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Pitch Library
                <small>&nbsp;&nbsp;&nbsp;Here are the submitted ideas</small>
                <hr>
            </h1>
        </div>
    </div>
    <!-- /.row -->

<div class="row">
    <% @pitches.each do |pitch| %>
        <div class="col-md-4 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="<%= pitch.url %>" alt="">
            </a>
            <h3>
           <a href="#"><%= link_to pitch.title , pitch_path(pitch) %></a>
            </h3>
            <p align="justify"><%= pitch.brief_description %></p>
            <% if current_user.admin %>
            <p align="center"><%= link_to 'Edit', edit_pitch_path(pitch) %>&nbsp;&nbsp;<%= link_to 'Delete', pitch_path(pitch), method: :delete, data: { confirm: 'Are you sure?' } %></p>

            <% end %>
        </div>
    <% end %>     
</div>
</div>

<hr>
<!-- Pagination -->
<div class="text-center">
<%= will_paginate @collection, renderer: BootstrapPagination::Rails %></div>
