<% 
    cookies[:pitch_id] = @pitch.id
    if current_user.is_Idea_Consultant 
        cookies[:consultant_id] = current_user.id 
    end 
%>

<!-- Page Content -->
<div class="container">

  <!-- Page Header -->
    <div class="row">
        <div class="col-lg-10">
            <h1 class="page-header"><%= @pitch.title %><hr></h1>
        </div>
    </div>
    <!-- /.row -->

    <div class="col-md-4 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="<%= @pitch.url %>" alt="">
        </a>

        <h3>Ideator: <h5><%= @pitch.user.email %></h5></h3>
        <hr>
        <h3>Brief Description: <h5><%= @pitch.brief_description %></h5></h3>
        <hr>
        <h3>Full Desription:  <h5><%= @pitch.full_description %></h5></h3>
        <hr>
    </div>


</div>


<% @pitch.evalutions.each do |eval| %>
  <tr style="margin-top:20px;">
      <p>Evaluator: </p> 
      <p><%= eval.user.email %></p>
      <p>Evalution:</p>
      <p><%= eval.comment %></p>     
<% end %>

 <%= link_to 'Evaluate Idea Consultant', evaluateIdeaConsultant_pitch_path(@pitch) %>  
<form action="<%= submitTheEvaluation_pitch_path(@pitch) %>" id="EvaluateTheIdea" method="post" onsubmit="return ValidateForm(this);">
<label for="Evaluate">Evaluate The Idea</label><br />
<textarea name="Evaluate" rows="5" cols="40" style="width: 500px;"></textarea>
<br />
<div style="float: middle">

 <input name="post" type="submit" value="Post" />  



<div class="container">
    <div align="center">
        <% if current_user.is_Idea_Consultant %>
            <%= link_to 'Add consultancy', { :controller => 'consultancies', :action => 'new' } %>
            <br><br><br>
        <% end %>
        <h4>Consultancies</h4>
        <table style="width:100%">
            <th>
                <tr style="font-weight:bold">
                    <td>Consultant</td>
                    <td>Consultancy</td>
                    <% if @pitch.user == current_user %>
                        <td>Status</td>
                    <% end %>
                </tr>
            </th>
                <% @consultancies.each do |c| %>
                <tr>
                    <td style="width:20%"><%= c.consultant.email %></td>
                    <td style="width:60%"><%= c.body %></td>
                    <% if @pitch.user == current_user %>
                        <% if c.approved %>
                            <td style="width:20%;color:green">Approved</td>
                        <% else %>
                            <td style="width:20%"><%= button_to "Approve", { :controller => 'consultancies', :action => 'approve', :id => c.id } %></td>
                        <% end %>
                    <% end %>
                </tr>
            <% end %>
        </table>
    </div>
</div>

<%= link_to 'Evaluate Idea Consultant', evaluateIdeaConsultant_pitch_path(@pitch) %>  


<%= link_to 'Back', pitches_path %> 
<!-- 
| 
<%= link_to 'Edit', edit_pitch_path(@pitch) %>
 -->



