<!--<p id="notice"><%= notice %></p>-->
 <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" <%= link_to "Home", :controller => :pages, :action => :home2%></a>
                <a class="navbar-brand" <%= link_to "Events Calendar", :controller => :events, :action => :index%></a>
                <a class="navbar-brand" <%= link_to "Pitch Library", :controller => :pitches, :action => :index%></a>
               <!-- <a class="navbar-brand" <%= link_to "Log In/Sign Up", :controller => :pages, :action => :home  %></a>-->
               <a class="navbar-brand" <%= link_to "Case Studies", :controller => :blogs, :action => :index%></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <!--<a href="#">About</a> -->
                    </li>
                    <li>
                        <!-- <a href="#">Services</a> -->
                    </li>
                    <li>
                        <!-- <a href="#">Contact</a> -->
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<h2>Comments</h2>
<% @blog.blogsComments.each do |blog_Comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= blogscomments.commenter %>
  </p>
 
  <p>
    <strong>Blogcomment:</strong>
    <%= blogscomments.body %>
  </p>
<% end %>
 
<h2>Add a comment:</h2>
<%= form_for([@blog, @blog.blogscomments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
 <%= link_to 'Back', blogs_path %>
