<!--<p id="notice"><%= notice %></p>-->
# This view is to show the comments on case study
# Author Bergitte
<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<h2>Comments</h2>
<% @blog.blogs_Comments.each do |blog_Comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= blogs_comments.commenter %>
  </p>
 
  <p>
    <strong>Blogcomment:</strong>
    <%= blogs_comments.body %>
  </p>
<% end %>
 
<h2>Add a comment:</h2>
<%= form_for([@blog, @blog.blogs_comments.build]) do |f| %>
  <p>
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
 <%= link_to 'Back', blogs_path %>
